* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-full {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
.container{
  max-width: 1120px;
  margin: auto;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Space Grotesk', sans-serif; */
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.uppercase {
  text-decoration: uppercase;
}

/* Header: ---------------------- */
header {
  background: #1a1a1a;
  height: 100vh;
  position: relative;
}
#navbar {
  padding: 30px 40px;
  font-size: 17px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  max-width: 1920px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Mission section ------------------*/
.mission-header{
  height:100vh;
}
.upper-flex{
  display: flex;
  justify-content: space-around;
  
}
#mission{
  background-color: #fff;
}
.violet {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #6C5CCC;
}
.mission-big{
  flex: 1;
}
.mission-big h3{
  font-size: 40px;
}
.mission-small{
  flex:1;
}
.mission-small p{
  font-size: 15px;
}
