* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container-full {
  max-width: 1440px;
  margin: auto;
  position: relative;
  overflow: auto;
}
.container {
  max-width: 1220px;
  margin: auto;
  overflow: auto;
}
/* font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  padding: 7.5px 18px;
  border: 1px solid #54595f;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
}
.btn-violet {
  background-color: #6c5ccc;
  color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 30px;
  padding: 9px 50px;
  cursor: pointer;
}
/* for navbar in all sections, excluding Home section */
.nav-out {
  height: 0vh;
}

/* Header: ---------------------- */
header {
  background: #1a1a1a;
  height: 100vh;
  position: relative;
}
#navbar {
  padding: 20px 40px;
  font-size: 17px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  max-width: 1920px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #1a1a1a;
}
/* Mission section ------------------*/
#mission {
  padding: 220px 0 100px 0;
}
.mission-header {
  height: 100vh;
}
.upper-flex {
  display: flex;
  justify-content: space-between;
}
#mission {
  background-color: #fff;
}
.violet,
.violet a {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #6c5ccc;
}
.mission-big {
  flex: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mission-big h3 {
  font-size: 35px;
}
.mission-small {
  flex: 1;
}
.mission-small p {
  font-size: 18px;
  padding: 10px 0 70px 0;
  line-height: 1.4;
}

#trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 100px 0 150px 0;
}
.collections img {
  padding-bottom: 30px;
}
.card {
  padding: 0 20px;
}
#trio h4 {
  padding-bottom: 20px;
  font-size: 22px;
  font-family: "Space Grotesk", sans-serif;
}
#trio p {
  font-size: 15px;
}

/* Order section -------------------- */
#order {
  height: 80vh;
  background: #1a1a1a;
  color: #fff;
}
.order_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 190px 0;
}
.start_font {
  text-decoration: underline;
}
.start_order h2 {
  font-size: 3.3vw;
  padding: 20px 0 40px 0;
}
.start_order p {
  color: #7a7a7a;
}
.apply_now {
  padding: 12px 24px;
  border: solid #6c5ccc 1px;
  border-radius: 30px;
}

/* Add transition to hover! */
.apply_now:hover {
  color: #6c5ccc;
  transition: color 2s ease-out;
}

/* Pricing (order section)*/
#order-process {
  background-color: #fafafa;
  padding: 20px 0 100px 0;
}
.pricing {
  padding: 100px 0 48px 0;
}
#order-process h3 {
  font-size: 38px;
}

#order-process .packages {
  display: flex;
  justify-content: space-between;
}
.package {
  background: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  padding: 50px;
  margin-right: 40px;
  position: relative;
}
.package h5 {
  font-size: 22px;
}
.package h2 {
  color: #7a7a7a;
}
.package .dollar {
  font-size: 70px;
  color: #000;
}
.package ul li {
  list-style-type: disc;
  line-height: 29px;
}
.package ul {
  padding: 25px 5px 90px 5px;
}
.choose {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 9px 50px;
  margin: 15px 25px 40px 25px;
  border: 1px solid #7a7a7a;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
}
.middle_btn {
  text-align: center;
  margin-left: 36px;
}

.package .star {
  width: 20px;
}

/* Forms */
.forms {
  padding: 50px 0px;
  width: 100%;
}
.form {
  border: 1px #54595f solid;
  border-radius: 10px;
  padding: 15px;
  margin: 12px 0;
}
.form label {
  display: block;
}
.form input {
  border: none;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}
.optional {
  font-size: 0.7rem;
}

.preference_add {
  /* display: flex;
  justify-content: space-between; */
}
.preference_add .pref-left {
  width: 100%;
  height: 100%;
}
#empty {
  width: 100%;
  overflow: auto;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.add_p {
  display: block;
}
.details_map {
  display: flex;
  justify-content: space-between;
}
.map iframe {
  border-radius: 50px;
}
#details_map {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
}
.details {
  flex: 2;
}
.stock_order {
  flex: 1;
  margin-left: 2rem;
  width: 45%;
  height: 45%;
  border-radius: 20px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(47, 79, 79) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(108, 92, 204) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(112, 128, 144) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(192, 192, 192) 40px -40px;
}
