* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-full {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
.container {
  max-width: 1120px;
  margin: auto;
}
/* font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
/* for navbar in all sections, excluding Home section */
.nav-out {
  height: 0vh;
}

/* Header: ---------------------- */
header {
  background: #1a1a1a;
  height: 100vh;
  position: relative;
}
#navbar {
  padding: 20px 40px;
  font-size: 17px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  max-width: 1920px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #1a1a1a;
}
/* Mission section ------------------*/
#mission {
  padding: 220px 0 100px 0;
}
.mission-header {
  height: 100vh;
}
.upper-flex {
  display: flex;
  justify-content: space-between;
}
#mission {
  background-color: #fff;
}
.violet,
.violet a {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #6c5ccc;
}
.mission-big {
  flex: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mission-big h3 {
  font-size: 35px;
}
.mission-small {
  flex: 1;
}
.mission-small p {
  font-size: 18px;
  padding: 10px 0 70px 0;
  line-height: 1.4;
}

#trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 100px 0 150px 0;
}
.collections img {
  padding-bottom: 30px;
}
.card {
  padding: 0 20px;
}
#trio h4 {
  padding-bottom: 20px;
  font-size: 22px;
  font-family: "Space Grotesk", sans-serif;
}
#trio p {
  font-size: 15px;
}
